doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title 써보자
    body
        #avg 평균 : 
        #zhongyu 중위값 : 
        #maxV 최대값:
        #minV 최소값:
        #pp 표준편차:
    script(src="../js/score.js")