@mixin reset {
    margin: 0;
    padding: 0;
}
@mixin font{
        font-size:4rem;
        color:darkblue;
}
@mixin pic{
    width: 100%;
    height: 33rem;
    display: inline-block;
    margin:0.2rem;
    overflow: hidden;
    flex: 1;
    background-color: antiquewhite;
    border:0.3rem dashed black;
    border-radius:2rem ;
    -webkit-border-radius:2rem ;
    -moz-border-radius:2rem ;
    -ms-border-radius:2rem ;
    -o-border-radius:2rem ;
}
html,body{ @include reset}
.pic {
    @include pic;
}
.picBox{
    border: 3px solid black;
    margin: auto;
    text-align: center;
    width: 80rem;
    display: flex;
    background-color: beige;
    padding: 2rem;
}
.title{
    background-color: blanchedalmond;
    text-align: center;
    position: relative;
    top:2rem;
    width: 50rem;
    margin: auto;
    border: 3px solid black;
    @include font;
}