@import "set";

.bodyArea {
    margin: auto;
    // min-width: 400px;
    max-width: 100vw;
    //border: 1px solid red;
    font-family: $basicFont;
    overflow: hidden;
    height: 100vh;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

//  Nav 효과 넣자비!
nav {
    @include flex();
    // border: 1px solid red;
    text-align: center;
    height: 8vh;
    max-width: 1600px;
    margin: auto;
    z-index: 1000;
}

nav ul {
    flex: 1;
    @include flex();
}

nav ul li {
    flex: 1;
    list-style: none;
}

nav ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.5em;
    color: #333;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

nav ul.night li a {
    color: #fff;
}

nav h1 {
    flex: 1;
    font-size: 2.5em;
    color: #333;
    cursor: pointer;
}

nav h1 .nameSpan {
    color: $pointColorPink;
}

nav h1 .siteSpan {
    color: $fontColor;
    transition: 0.3s;
    -webkit-transition: 0.3s;
    -moz-transition: 0.3s;
    -ms-transition: 0.3s;
    -o-transition: 0.3s;
}

nav h1 .siteSpan.night {
    color: $nightFontColor;
}

@media (max-width :500px) {
    .bodyArea {
        width: 100%;
        overflow: scroll;
        // border: 1px solid red;
    }
    nav{
        height:10vh;
    }
    nav h1 {
        font-size: 1.2rem;
        // width: 20%;
        flex:0.5;
        // border: 1px solid red;
    }
    nav ul li a{
        // flex: 3;
        // width: 80%;
        // flex: 2;
        font-size: 1rem;
    }
}