* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "42dot Sans", serif;
}

.banner {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    min-height: 100vh;
    padding: 100px;
    background: #fff;
    transition: 0.5;
    -webkit-transition: 0.5;
    -moz-transition: 0.5;
    -ms-transition: 0.5;
    -o-transition: 0.5;
}
/* .banner::before{
    content:'';
    position: absolute;
    left: 30%;
    top:10%;
    width: 150px;
    height: 150px;
    background-color: #2196f3;
} */
header {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 100px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header .logo {
    color: #333;
    font-size: 2em;
    font-weight: 700;
    text-decoration: none;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

header .logo span {
    color: #2196f3;
}

header ul {
    display: flex;
    gap: 40px;
}

header ul li {
    list-style: none;
}

header ul li a {
    text-decoration: none;
    font-weight: 500;
    font-size: 1.2em;
    color: #333;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.content {
    position: relative;
    max-width: 700px;
    z-index: 10;
}

.content h3 {
    font-size: 2em;
    color: #333;
    font-weight: 200;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.content h2 {
    font-size: 5.5em;
    color: #333;
    font-weight: 700;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.content h2 span {
    color: #e91e63;
}

.content p {
    font-size: 1.2em;
    color: #666;
    margin: 10px 0;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.content button {
    position: relative;
    background-color: #2196f3;
    color: #fff;
    border: none;
    padding: 15px 35px;
    font-size: 1.2em;
    letter-spacing: 0.05em;
    margin-right: 20px;
    font-weight: 600;
    cursor: pointer;
    transition: 0.5s;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.content button.chat {
    background: transparent;
    color: #333;
}

.content button.chat ion-icon {
    position: relative;
    top: 5px;
    color: #e91e63;
    font-size: 1.5em;
}

.sci {
    position: absolute;
    bottom: 30px;
    display: flex;
    gap: 20px;
}

.sci li {
    list-style: none;
}

.sci li a {
    text-decoration: none;
    font-size: 1.75em;
    color: #333;
}

.sci li a:hover {
    color: #2196f3;
}

.dayNight {
    position: absolute;
    bottom: 25px;
    left: 50%;
    transform: translateX(-50%);
    -webkit-transform: translateX(-50%);
    -moz-transform: translateX(-50%);
    -ms-transform: translateX(-50%);
    -o-transform: translateX(-50%);
    width: 60px;
    height: 60px;
    background: #f0f0f0;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
    color: #666;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
    transition: 0.5s;
    font-size: 2em;
    -webkit-transition: 0.5s;
    -moz-transition: 0.5s;
    -ms-transition: 0.5s;
    -o-transition: 0.5s;
}

.dayNight ion-icon:nth-child(2) {
    display: none;
}

.banner.night {
    background: #333;
}

.banner.night .dayNight {
    background-color: #444;
    color: #fff;
}

.banner.night .dayNight ion-icon:nth-child(1) {
    display: none;
}

.banner.night .dayNight ion-icon:nth-child(2) {
    display: block;
}

.banner.night header .logo,
.banner.night .content h2,
.banner.night .content p,
.banner.night .content button.chat,
.banner.night .sci li a,
.banner.night header ul li a {
    color: #fff;
}

.banner.night .sci li a:hover {
    color: #2196f3;
}

.colors {
    position: absolute;
    right: 25%;
    top:10%;
    max-height:50vh;
    max-width: 50vh;
    animation: animateColor 8s ease-in-out infinite;
    -webkit-animation: animateColor 8s ease-in-out infinite;
}

@keyframes animateColor {

    0%,
    100% {
        transform: translateY(0px);
        -webkit-transform: translateY(0px);
        -moz-transform: translateY(0px);
        -ms-transform: translateY(0px);
        -o-transform: translateY(0px);
    }

    100% {
        transform: translateY(50px);
        -webkit-transform: translateY(50px);
        -moz-transform: translateY(50px);
        -ms-transform: translateY(50px);
        -o-transform: translateY(50px);
    }
}

.myPic {
    position: absolute;
    right: 100px;
    bottom: 0;
    max-height: 85vh;
    animation: animateMyPic 8s ease-in-out infinite;

}

@keyframes animateMyPic {

    0%,
    100% {
        transform: translateX(0px);
        -webkit-transform: translateX(0px);
        -moz-transform: translateX(0px);
        -ms-transform: translateX(0px);
        -o-transform: translateX(0px);
}
    50%{
        transform: translateX(-50px);
        -webkit-transform: translateX(-50px);
        -moz-transform: translateX(-50px);
        -ms-transform: translateX(-50px);
        -o-transform: translateX(-50px);
}
}